body.hide > main,
body.hide > header {
  filter: blur(10px);
}
body.hide > aside {
  z-index: 999;
}

/* body.hide {
  height: 100vh;
  overflow-y: hidden;
  padding-right: 15px;
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}